<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string>Jan 8-10</string>
	<key>EventPlace</key>
	<string>Las Vegas, ICCE 2017</string>
	<key>NavigationBarColour</key>
	<string>#66b2c1</string>
	<key>EventDetailHeaderColour</key>
	<string>#66b2c1</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#ffffff</string>
	<key>FavoriteEventColour</key>
	<string>#437480</string>
	<key>IsFilterEnable</key>
	<true/>
	<key>SpeakerDetailBarColour</key>
	<string>#66b2c1</string>
</dict>
</plist>
